.container {
	border-top: 1px #000 solid;
	margin: 10px auto;
	width: 950px;
}

#leftbar {
	width: 75px;
	min-height: 550px;
	background-color: yellow;
	float: left;
}

#rightbar {
	width: 75px;
	min-height: 550px;
	background-color: yellow;
	float: right;
}

#header {
	height: 182px;
	background-color: red;
	padding: 0 75px;
}

#header-logo {
	float: left;
	margin-right: 6px;
	margin-bottom: 6px;
	width: 192px;
	height: 128px;
	background-color: cyan;
}

#header-search {
	float: left;
	width: 404px;
	height: 32px;
	background: #fff url('../img/icon-32x32-magnifying_glass.png') no-repeat;
}

#header-map {
	float: right;
	margin-left: 6px;
	margin-bottom: 6px;
	width: 192px;
	height: 128px;
	background-color: cyan;
}

#header-banner {
	float: left;
	margin-top: 6px;
	width: 404px;
	height: 52px;
	background-color: #fff;
}

.extnavlist {
	float: left;
	margin: 6px 0;
	list-style-type: none;
}

.extnavlist li {
	display: inline;
}

.extnavlist li a {
	float: left;
	width: 32px;
	height: 32px;
	text-decoration: none;
	color: #fff;
}

.extnavlist li a:hover {
	background-color: #369;
	color: #fff;
}

.navlist {
	float: left;
	padding: 0 10px;
	list-style-type: none;
	background-color: #036;
}

.navlist li {
	display: inline;
}

.navlist li a {
	float: left;
	width: 130px;
	padding: 1em 0;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #036;
}

.navlist li a:hover {
	background-color: #369;
	color: #fff;
}

#content {
	min-height: 550px;
	background-color: green;
}

#footer {
	height: 75px;
	background-color: gray;
	padding: 0 75px;
}

.footnavlist {
	float: left;
	padding: 1em 10px;
	list-style-type: none;
	background-color: #038;
}

.footnavlist li {
}

.footnavlist li a {
	float: left;
	width: 260px;
	padding: 0.25em 0;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #038;
}

.footnavlist li a:hover {
	background-color: #369;
	color: #fff;
}
